@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import "tailwindcss";

@theme {
  --color-primary: #01705C;
  --color-secondary: #FFD249;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PP Neue Montreal", "sans-serif";
}

.yellowBtn{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}